#post-list {
  display: flex;
  justify-content: center;
  margin: 1.5em;
  color: #333;
  line-height: 1.5em;
}

#post-list ul {
  list-style: none;
  max-width: 600px;
}

#post-list li.post-item {
  padding: 1.5em;
  margin-bottom: 1.2em;
  background-color: #eee;
  border-radius: 5px;
  -moz-box-shadow:    3px 3px 5px 2px #bbb;
  -webkit-box-shadow: 3px 3px 5px 2px #bbb;
  box-shadow:         3px 3px 5px 2px #bbb;
}
